<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div class="add-post" data-toggle="modal" data-target="#exampleModal" (click)="novaPublicacao()"></div>
    <a href="#" (click)="encerrarSessao()" style="margin-left:25px;">Sair</a>
  </div>  
</nav>

<br /><br /><br />
<div class="container">
  <app-publicacoes #publicacoes></app-publicacoes>   
  <app-incluir-publicacao (atualizarTimeLine)="atualizarTimeLine()"></app-incluir-publicacao>
</div>